<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [appGreenColor]="'transparent'">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a
            routerLink="/auth"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            >Authenticate</a
          >
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <a
            routerLink="/recipes"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            routerLink="/shopping-list"
            >Shopping list</a
          >
        </li>
      </ul>
      <div class="d-flex me-5">
        <div *ngIf="isAuthenticated" class="nav-item ms-auto me-4">
          <a (click)="onLogout()">Logout</a>
        </div>
        <div *ngIf="isAuthenticated" class="nav-item dropdown ms-auto me-5">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage
          </a>
          <ul class="dropdown-menu">
            <li style="width: fit-content !important">
              <a (click)="onStoreData()" class="dropdown-item">Save Data</a>
            </li>
            <li style="width: fit-content !important">
              <a (click)="onFetchData()" class="dropdown-item"> Fetch data</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
