<!-- <div class="alert alert-danger my-3" *ngIf="error">{{ error }}</div> -->
<ng-template appPlaceholder></ng-template>
<app-alert [message]="error" (close)="handleClose()" *ngIf="error"></app-alert>
<div
  *ngIf="isLoading"
  class="d-flex align-items-center justify-content-center"
  style="height: 70vh"
>
  <app-loading-spinner></app-loading-spinner>
</div>
<form
  class="my-3"
  *ngIf="!isLoading"
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      ngModel
      email
      name="email"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      ngModel
      name="password"
      required
      minlength="6"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    {{ loginMode ? "Login" : "Sign Up" }}
  </button>
  |
  <button class="btn btn-primary" type="button" (click)="switchMode()">
    Switch to {{ loginMode ? "Sign Up" : "Login" }}
  </button>
</form>
